@import '../../style/colors//colors';
@import '../../style/themes/default';
@import '../../style/colors/colorPalette.scss';
@mixin tag-color($color, $bg-color, $border-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
}
@mixin tag-variant-filled($color) {
  @include tag-color($white, $color, transparent);
}
@mixin tag-variant-light($color) {
  @include tag-color($color, colorPalette($color, 9), transparent);
}
@mixin tag-variant-outlined($color) {
  @include tag-color($color, $white, $color);
}
@mixin tag-variant-stroked($color) {
  @include tag-color($color, $white, $gray-400);
}
@mixin tag() {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: $tag-border-radius;
  user-select: none;
  padding: $tag-padding;
  border-width: $tag-border-width;
  border-style: $tag-border-style;
}
