// Color palettes
$blue-base: #55A6FF;
$blue-100: $blue-base;
$blue-200: #88C0FF;
$blue-300: #E8FBFB;

$green-base: #29D16C;
$green-100: $green-base;
$green-200: #69DE98;
$green-300: #EAFAF0;

$red-base: #FF5555;
$red-100: $red-base;
$red-200: #FF8888;
$red-300: #FFEEEE;

$orange-base: #FF9E3B;
$orange-100: $orange-base;
$orange-200: #FFBB76;
$orange-300: #FFF5EB;

$purple-base: #5A3CFF;
$purple-mix-base: #6864FF;
$purple-100: $purple-base;
$purple-200: #8683FF;
$purple-300: #F0EFFF;

$cyan-base: #1BDCD7;
$cyan-100: $cyan-base;
$cyan-200: #5FE6E3;
$cyan-300: #E8FBFB;

$gray-base: #272834;
$gray-100: $gray-base;
$gray-200: #7F8B95;
$gray-300: #A8B0B7;
$gray-400: #DBE0E9;
$gray-500: #E9EEF4;
$gray-600: #F5F7F9;

$black-base: $gray-base;
$white-base: #FFFFFF;

$disabled-color: fade(#000000, 25%);
